<h1>
  {{title}}
</h1>

<app-interpolacao-de-dados></app-interpolacao-de-dados>

<h3> testanto o css global do app</h3>

<app-compartilhando-dados [nome]="usuario" [informacoes]="dadosUsuario"></app-compartilhando-dados>

<app-diretivas></app-diretivas>

<app-condicionais></app-condicionais>

<app-eventos></app-eventos>

<app-emitindo-eventos></app-emitindo-eventos>

<app-renderizacao-listas></app-renderizacao-listas>

<app-pipe-operators></app-pipe-operators>

<app-two-way-binding></app-two-way-binding>
